*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    background-color: #b0ffb79c;

}

@font-face {
    font-family: 'longhaul';
    src: url(fonts/Longhaul.ttf);
    font-weight: normal;
    font-style: normal;
}

